@page
@model EventsPlanner.GetEventsModel
@{
ViewData["Title"] = "GetEvents";
}

<div class="container mt-4">
    <h2 class="text-center text-primary mb-4">List of Events</h2>

    <form method="get" class="form-inline mb-4">
        <div class="form-group mr-2">
            <label for="FilterCriteria" class="sr-only">Search By City</label>
            <input type="text" class="form-control" id="FilterCriteria" placeholder="Search By City" asp-for="FilterCriteria" />
        </div>
        <button type="submit" class="btn btn-primary mr-2">Filter</button>
        <a asp-page="/Events/GetEvents" class="btn btn-secondary">Back to Full List</a>
    </form>

    @if (Model.Events != null)
    {
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Event Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Rooms</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Events)
        {
        <tr>
            <td>@item.EventNo</td>
            <td>@item.Name</td>
            <td>@item.Address</td>
            <td>
                <a asp-page="/Stands/GetStands" asp-page-handler="EventStands" asp-route-id="@item.EventNo" class="btn btn-info btn-sm">View Stands</a>
            </td>
            <td>
                <a asp-page="/Bookings/CreateBooking" asp-route-id="@item.EventNo" class="btn btn-info btn-sm">Create Booking</a>
            </td>
        </tr>
        }
        </tbody>
    </table>
    }
    else
    {
    <p>No hotels found.</p>
    }
</div>